 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    --tab-color: darkslategray;
    --clock-color: cornflowerblue;
}


body, h1, h2, h3, p {
    margin: 0px;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to top, black, var(--clock-color));
    color: white;
}

header {
    padding: 0.8rem 1rem;
    background-color: var(--tab-color);
}
    
header img {
    height: 48px;
    width: auto;

    margin-top: -.5rem;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.logo-container p {
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
 }

.search-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.search-container button,
.search-container input {
    height: 2rem;
    border: none;
    color: var(--tab-color);
    font-family: 'Josefin Sans', sans-serif;
    
    padding: 0.4rem
}


#renderer {
    margin-top: calc(50vh - 200px);
}

#renderer > * {
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
}

.weather-info {
    max-width: 600px;
    margin: 0 auto;

    padding-bottom: 2rem;
    background-color: rgba(0,0,0, 0.2);
}

.localization {
    display: flex;
    justify-content: space-between;

    background-color: var(--tab-color);
    font-weight: bold;

    padding: .8rem 1.6rem;
}

.temperature-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    
}

.temperature-container {
    display: flex;
    align-items: center;
}

.temperature-container .temp {
    font-size: 2.5rem;
}

.more-info {
    width: 50%;
    max-width: 200px;
    margin: 0 auto;
}

.info { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.temperature-main,
.more-info {
    margin-top: 1.5rem;
}

@media only screen and (min-width: 600px) {

    header > *,
    .search-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .search-container {
        margin-top: 0;
    }

    .logo-container {
        padding: 0;
    }
    
    .responsive {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .localization {
        border-radius: 6px 6px 0 0;
    }

    .search-container input {
        border-radius: 4px 0 0 4px
    }

    .search-container button {
        border-radius: 0 4px 4px 0;
        font-weight: bold;
    }

    .weather-info {
        border-radius: 6px;
    }
}

.loader {
    animation: rotating 1s infinite;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: solid 8px white;
    border-top-color: var(--tab-color); 
}

@keyframes rotating {
    0% {
        transform: rotate(0) scale(1);
  
    } 

    50% {
        transform: rotate(181deg) scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}
