@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    --tab-color: darkslategray;
    --clock-color: cornflowerblue;
}


body, h1, h2, h3, p {
    margin: 0px;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to top, black, var(--clock-color));
}

#renderer {
    margin-top: 10%;
}
#renderer > * {
    margin-left: auto;
    margin-right: auto;
}
.wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.weather-info {
    max-width: 600px;
    margin: 0 auto;

    padding-bottom: 2rem;
    background-color: rgba(0,0,0, 0.2);
}

.localization {
    display: flex;
    justify-content: space-between;

    background-color: var(--tab-color);
    color: white;
    font-weight: bold;

    padding: .8rem 1.6rem;
}

.temperature-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    
}

.temperature-container {
    display: flex;
    align-items: center;
}

.temperature-container .temp {
    font-size: 2.5rem;
}

.more-info {
    width: 50%;
    max-width: 200px;
    margin: 0 auto;
}

.info { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.temperature-main,
.more-info {
    margin-top: 1.5rem;
}

@media only screen and (min-width: 600px) {
    .responsive {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .localization {
        border-radius: 6px 6px 0 0;
    }

    .weather-info {
        border-radius: 6px;
    }
}

.loader {
    animation: rotating 1s infinite;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: solid 8px gray;
    border-top-color: blue; 
}

@keyframes rotating {
    0% {
        transform: rotate(0) scale(1);
  
    } 

    50% {
        transform: rotate(181deg) scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}
